@import "tailwindcss";

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  --font-outfit: Outfit, sans-serif;
  --font-ovo: Ovo, serif;

  --drop-shadow-black: 4px 4px 4px #000;
  --drop-shadow-white: 4px 4px 4px #fff;
  /* Custom grid-template-columns */
  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));
}
@custom-variant dark (&:where(.dark, .dark *));
body {
  @apply bg-white text-black transition-colors duration-300;
}

/* 🌙 Dark Mode */
.dark body {
  @apply bg-darkTheme text-white;
}

/* Navbar Styles */
.dark nav {
  @apply bg-darkTheme text-white;
}
